<StackLayout>

    <StackLayout>
        <Label text="Verein" padding="10" backgroundColor="lightgray"></Label>
        <Label text="Die Kletterhalle Eldorado in Buochs NW vom gleichnamigen Kletterverein." textWrap="true" padding="10"></Label>

        <Label text="App" padding="10" backgroundColor="lightgray"></Label>
        <Label text="Die App wurde aus Spass an der Sache entwicklet um eine Übersicht der Routen zu erstellen." textWrap="true" padding="10"></Label>
    </StackLayout>

</StackLayout>